.page-header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;
}

.page-header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-link {
    position: relative;
    display: block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color 250ms var(--transition-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
        }
}


.background-studio,
.background-portfolio {
    color: var(--accent-color);
}

.menu-link .line:hover::after {
    background-color: var(--accent-color);
}

.menu-link .line {
    background-color: var(--accent-color);
}

.current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    color: var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 2px;

    transform: translate(0%, 840%);
}