.clients-container {
    height: 184px;
}

.clients-list {
    display: flex;
}

.clients-list__item {
    display: flex;

    &:not(:last-child) {
        margin-right: 30px;
        }
}



.clients-list__link {
    @extend %align;
    border-color: #afb1b8;
    fill: #afb1b8;
    color: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;

    transition: border-color 250ms var(--transition-function),
        color 250ms var(--transition-function);

        &:hover,
        &:focus {
            border-color: #2196f3;
            fill: #2196f3;
            }
}



.clients-list__icon {
    color: currentColor;
}