.quality-title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
}

.list-qualities {
    display: flex;
    align-items: center;
    gap: 30px;
}

.quality-name {
    flex-basis: calc((100% - 90px) / 4);
    width: 270px;
    display: block;
    width: 270px;
    height: 248px;
}

.logo-container {
    @extend %align;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
}

.logo-icon {
    @extend %align;
}

.description-quality {
    line-height: 1.71;
    color: var(--secondary-text-color);
}