.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 12px;
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-form-field-textarea {
    margin-bottom: 20px;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms var(--transition-function);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        }
}



.modal-form-input-desc {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.modal-form-check-desc {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 30px;
    color: var(--secondary-text-color);
}

.modal-form-input-wrap {
    position: relative;
    display: block;
}

.modal-form-input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill 250ms var(--transition-function);

    .modal-form-input:focus+& {
            fill: var(--accent-color);
        }
}



.modal-form-message {
    display: block;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: border-color 250ms var(--accent-color);

    &::placeholder {
        font-family: var(--primary-font);
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
        }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        }
}


.modal-form-check-desc::before {
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    content: "";
    border-radius: 2px;
    cursor: pointer;
    background-image: url(../images/modal-window/Vector.svg.svg);
    margin-right: 7px;
    transition: background-image 250ms var(--transition-function);

    .modal-form-check:checked+& {
        background-color: var(--accent-color);
        background-image: url(../images/modal-window/Vector.svg.svg);
        border-color: var(--accent-color);
        background-repeat: no-repeat;
        }

    .modal-form-check:focus+& {
        border-color: var(--accent-color);
        outline: none;
        transition: border-color 250ms var(--accent-color);
        }
}


.modal-form-check-desc-contract {
    display: inline-block;
    text-decoration-line: underline;
    color: var(--accent-color);
}

.modal-form-submit {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;

    border: none;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--tertary-text-color);
    transition: color 250ms var(--transition-function),
        background-color 250ms var(--transition-function);
}