:root {
    --primary-font: Roboto, sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --tertary-text-color: #ffffff;
    --accent-color: #2196f3;
    --primary-background: #ffffff;
    --secondary-background: #2f303a;
    --transition-duration: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}